<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/css/script.js"></script>
    <title>To Do List</title>
  </head>
  <body>
